
/*Général*/
body
{
    background: aliceblue;   
}

.section
{
    max-width: 1300px;
    margin: 75px auto 25px auto;
}


/*page connexion*/
.form
{
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.champ-form
{
    text-align: center;
}