
/*Général*/
@font-face {
    font-family: Alice;
    src: url(fonts/Alice-Regular.ttf);
}
body
{
    background: aliceblue;
    color: #00001a;
    font-size: 20px;
    font-family: Alice;
    margin-left: 200px;
}
header
{
        font-weight: bold;
}

.section
{
    margin: 0 auto 25px auto;
    padding: 25px;
}


/*page connexion*/
.form
{
    width: 25%;
    margin: 0 auto;
    text-align: center;
}

.champ-form
{
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.btn-primary
{
    font-size: 20px;
}

.rememberme
{
    font-size: 16px;
}


/* ACCUEIL (liste des notes) */
.list-all-note ul {
    padding: 0;
    margin: 0;
}

.list-all-note .list-statut {
    margin: 30px 0;
    font-size: 0;
    background-color: rgba(68, 102, 136, 0.70);
    color: rgba(255, 255, 255, 0.70);
}

.list-all-note .list-statut li {
    display: inline-block;
    cursor: pointer;
    width: 20%;
    font-size: 20px;
    text-align: center;
    border-bottom: 2px solid rgba(0, 0, 0, 0.50);
}
.list-all-note .list-statut li:hover {
    background-color: #446688;
    border-bottom: 2px solid white;
    color: white;
}
.list-all-note .list-statut li.active {
    background-color: #446688;
    border-bottom: 2px solid white;
    color: white;
}

.list-all-note .list-note {
    color: white;
}
.list-all-note .list-note li {
    list-style-type: none;
    min-height: 100px;
    margin: 15px 0;
    padding: 20px;
    background-color: #446688;
    font-size: 0;
}
.list-all-note .list-note li .btn-show-frais {
    cursor: pointer;
}
.list-all-note .list-note li div {
    display: inline-block;
    vertical-align: top;
    font-size: 20px;
}
.list-all-note .list-note .infos-note, .list-all-note .list-note .actions-note {
    width: 40%;
}
.list-all-note .list-note .total {
    width: 20%;
}

.list-all-note .list-note .list-frais {
    display: none;
}
.list-all-note .list-note .list-frais li {
    background-color: rgba(255, 255, 255, 0.30);
    padding: 5px;
}

.list-all-note .list-note .infos-frais {
    width: 60%;
}
.list-all-note .list-note .actions-frais, .list-all-note .list-frais .total {
    width: 20%;
    text-align: center;
}

.list-all-note .list-note .infos-frais .img-frais {
    display: table-cell;
    float: left;
    height: 130px;
    width: 130px;
    margin-right: 10px;
}

.list-all-note .list-note .infos-frais span {
    display: table-cell;
}


/* page frais */

.formulaire{
    margin-right: 10px;
}
.descriptionFormulaire{
    height: 68px;
    width: 100%;
}

.formulairePrixTTC{
    display: inline;
    width : 40%;
}

.formulairePrix{
    display: inline;
    width : 30%;
}
.formulaireDevise{
    display : inline;
    width : 7%;
}

.formulaireRole{
    margin-left: 25%;
    width : 50%;
}
.deroulantFrais{
    display: inline-block;
    width: 47%;
}

.formulaireReduit{
    width: 70%;
    margin-left: 15%;
}
#blocPrix{
    display : inline;
}
#image,date{
    width: 50%;
}


/* Administration */
.admin-user table {
    width: 100%;
}

.admin-user table tr {
    height: 40px;
}

.admin-user table tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.admin-note .list-statut li {
    width: 25%;
}

